on: push
jobs:
  test:
    runs-on: ubuntu-20.04
    steps:
    #- uses: actions/checkout@HEAD
    #  with:
    #    repository: actions/checkout
    #    ref: ""
    #- uses: rafaelgieschke/test@eaas-installer
    - uses: emulation-as-a-service/eaas-installer@HEAD

