on: push
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@HEAD
    - uses: ./test
    - run: |
       cat /proc/cpuinfo
       pwd
       ls -la
       ls -la /
       mount
