on: push
jobs:
  docker:
    runs-on: macos-12
    steps:
    - run: |
        brew install docker colima
        colima start --cpu 3 --memory 12
        docker run ubuntu cat /proc/meminfo
        docker run --privileged --rm tonistiigi/binfmt --install arm64
        exit
        brew install lima
        mkdir -p ~/.lima/_config
        echo '{"cpus": 3, "memory": "12GiB", "containerd": {"system": true, "user": false}}' > ~/.lima/_config/default.yaml
        limactl start
        lima cat /proc/cpuinfo
        lima nerdctl run ubuntu cat /proc/meminfo
        lima nerdctl run --privileged --rm tonistiigi/binfmt --install arm64
        exit
        brew install minikube hyperkit docker
        minikube config set cpus 3
        minikube config set memory 12g
        minikube start --driver=hyperkit --container-runtime=docker
        minikube kubectl get nodes
        eval "$(minikube docker-env)"
        docker info
        docker run ubuntu cat /etc/cpuinfo
        docker run ubuntu cat /etc/meminfo
  test:
    if: false
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - run: df -h; ls -la /dev; lsblk; ls
    #- env:
    #    image: ghcr.io/${{github.repository}}:${{github.ref_name}}
    #  run: |
    #   docker login -u github -p ${{github.token}} "$image"
    #   docker build -t "$image" .
    #   docker push "$image"
    #- uses: ncipollo/release-action@v1
    #  with:
    #    artifacts: "Dockerfile"
    #    tag: ${{github.ref_name}}
    #    commit: ${{github.sha}}
    #- uses: marvinpinto/action-automatic-releases@latest
    #  with:
    #     repo_token: ${{github.token}}
    #     automatic_release_tag: ${{github.ref_name}}-nightly
    #     files: Dockerfile
    - uses: softprops/action-gh-release@v1
      with:
        files: Dockerfile
        tag_name: ${{github.ref_name}}-nightly
        prerelease: true
        target_commitish: ${{github.sha}}

