on: push
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    #- env:
    #    image: ghcr.io/${{github.repository}}:${{github.ref_name}}
    #  run: |
    #   docker login -u github -p ${{github.token}} "$image"
    #   docker build -t "$image" .
    #   docker push "$image"
    #- uses: ncipollo/release-action@v1
    #  with:
    #    artifacts: "Dockerfile"
    #    tag: ${{github.ref_name}}
    #    commit: ${{github.sha}}
    - uses: marvinpinto/action-automatic-releases
      with:
         automatic_release_tag: ${{github.ref_name}}-nightly
         files: Dockerfile

