on: push
env:
 a: a b c d \'
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@HEAD
    - run: |
       env
       printf '%s-\n' ${{env.a}}
       docker login -u ${{github.actor}} -p ${{secrets.GITHUB_TOKEN}} ghcr.io
       cd test
       docker build -t ghcr.io/${{github.repository}} .
       docker push ghcr.io/${{github.repository}}
