on: push
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - run: df -h; ls -la /dev; lsblk; ls
    #- env:
    #    image: ghcr.io/${{github.repository}}:${{github.ref_name}}
    #  run: |
    #   docker login -u github -p ${{github.token}} "$image"
    #   docker build -t "$image" .
    #   docker push "$image"
    #- uses: ncipollo/release-action@v1
    #  with:
    #    artifacts: "Dockerfile"
    #    tag: ${{github.ref_name}}
    #    commit: ${{github.sha}}
    #- uses: marvinpinto/action-automatic-releases@latest
    #  with:
    #     repo_token: ${{github.token}}
    #     automatic_release_tag: ${{github.ref_name}}-nightly
    #     files: Dockerfile
    - uses: softprops/action-gh-release@v1
      with:
        files: Dockerfile
        tag_name: ${{github.ref_name}}-nightly
        prerelease: true
        target_commitish: ${{github.sha}}

