on: push
jobs:
  a:
    runs-on: ubuntu-latest
    steps:
    - run: |
        df -h
        docker system info
        sudo systemctl stop dockerd
        sudo mv /var/lib/docker /mnt/
        sudo ln -s /mnt/docker /var/lib/docker
        sudo systemctl start dockerd
        docker system info
  
